* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: fuenteTitulo;
    src: url(Recursos/FUENTELETRA/diploma.ttf);
}

:root {
    --dorado: #FDB927;
    --morado: #542583;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.472);
}

header {
    text-align: center;
    background-color: var(--dorado);
    padding: 15px;
    border-bottom: 2px solid var(--morado);
}

h1 {
    font-family: fuenteTitulo, Arial, Geneva;
    color: black !important;
    font-size: 2.4em;
    text-shadow: white 1px 1px 0.25px;
}

h1, h2 {
    color: var(--morado);
    text-align: center;
    margin: 10px;
}

h3 {
    color: var(--morado);
    margin: 10px;
}

.div_intro {
   font-size: 1.25em;
   padding: 25px;
}

.contenedor_logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7rem;
}

.virtualbox_logo,
.ubuntu_logo {
    margin-top: 15px;
}

nav {
    line-height: 30px;
    border: 1px solid var(--dorado);
    border-radius: 25px;
    width: 45rem;
    margin: 0 auto 10px;
    background-color: white;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: var(--dorado)
}

ul {
    list-style: none;
}

#raid1,
#servidor_ssh,
#servidor_FTP,
#servidor_apache2,
#securizar_ssh,
#securizar_ftp,
#soporte_mysql,
#soporte_php,
#securizar_apache2 {
    padding: 20px;
    border: 1px solid var(--dorado);
    border-radius: 25px;
    width: 45rem;
    margin: 0 auto 10px;
    background-color: white;
}

#raid1 p,
#raid1 img {
    margin: 7px;
}

#servidor_ssh p,
#servidor_ssh img {
    margin: 7px;
}

#servidor_FTP p,
#servidor_FTP img {
    margin: 7px;
}

#servidor_apache2 p,
#servidor_apache2 img {
    margin: 7px;
}

#securizar_ssh p,
#securizar_ssh img {
    margin: 7px;
}

#securizar_ftp p,
#securizar_ftp img {
    margin: 7px;
}

#soporte_mysql p,
#soporte_mysql img {
    margin: 7px;
}

#soporte_php p,
#soporte_php img {
    margin: 7px;
}

#securizar_apache2 p,
#securizar_apache2 img {
    margin: 7px;
}

strong {
    color: var(--morado);
}

div p {
    text-align: justify;
}

.permitroot_no {
    display: flex;
}

img {
    width: 500px;
}

.contenedor_logos img {
    width: 145px;
    height: 145px;
}

img[alt="logo de filezilla"] {
    width: 175px !important;
    height: 175px !important;
}

img[alt="logo ssh"] {
    width: 125px !important;
    height: 125px !important;
}

img[alt="logo ftp"] {
    width: 175px !important;
    height: 175px !important;
}

img[alt="logo apache"] {
    width: 300px !important;
    height: 150px !important;
}

img[alt="logo mysql"] {
    width: 300px !important;
    height: 150px !important;
}

img[alt="logo php"] {
    width: 175px !important;
    height: 155px !important;
}

footer {
    background-color: var(--dorado);
}