* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dorado: #FDB927;
    --morado: #542583;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;
    text-align: center;
}

header {
    text-align: center;
    background-color: var(--dorado);
    padding: 15px;
    border-bottom: 2px solid var(--morado);
}

h1, h2, h3 {
    color: var(--morado);
    text-align: center;
}

.div_intro {
   font-size: 1.25em;
   padding: 25px;
}

.contenedor_logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7rem;
}

.virtualbox_logo,
.ubuntu_logo {
    margin-top: 15px;
}

nav {
    line-height: 30px;
    border: 1px solid var(--dorado);
    border-radius: 25px;
    width: 50rem;
    margin: 0 auto 10px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: var(--dorado)
}

ul {
    list-style: none;
}

#raid1,
#servidor_ssh,
#servidor_FTP,
#servidor_apache2 {
    padding: 20px;
    border: 1px solid var(--dorado);
    border-radius: 25px;
    width: 50rem;
    margin: 0 auto 10px;
}

#raid1 p,
#raid1 img {
    margin: 7px;
}

#servidor_ssh p,
#servidor_ssh img {
    margin: 7px;
}

#servidor_FTP p,
#servidor_FTP img {
    margin: 7px;
}

#servidor_apache2 p,
#servidor_apache2 img {
    margin: 7px;
}

strong {
    color: var(--morado);
}

div p {
    text-align: justify;
}